# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Environment / secrets
.env
.env.*
!.env.example

# Node
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# Django
staticfiles/

# OS
.DS_Store
Thumbs.db

tmp/
